@font-face {
  font-family: "AkzidenzGrotesk-Light";
  src: url({{ "AkzidenzGrotesk-Light.otf" | asset_url }}) format("opentype");
}

@font-face {
  font-family: "AkzidenzGrotesk-LightItalic";
  src: url({{ "AkzidenzGrotesk-LightItalic.otf" | asset_url }}) format("opentype");
}

@font-face {
  font-family: "AkzidenzGrotesk-Regular";
  src: url({{ "AkzidenzGrotesk-Regular.otf" | asset_url }}) format("opentype");
}

@font-face {
  font-family: "AkzidenzGrotesk-Medium";
  src: url({{ "AkzidenzGrotesk-Medium.otf" | asset_url }}) format("opentype");
}

@font-face {
  font-family: "AkzidenzGrotesk-Bold";
  src: url({{ "AkzidenzGrotesk-Bold.otf" | asset_url }}) format("opentype");
}

@font-face {
  font-family: "Canela-Light";
  src: url({{ "Canela-Light.otf" | asset_url }}) format("opentype");
}

@font-face {
  font-family: "Canela-Regular";
  src: url({{ "Canela-Regular.otf" | asset_url }}) format("opentype");
}

@font-face {
  font-family: "Canela-Bold";
  src: url({{ "Canela-Bold.otf" | asset_url }}) format("opentype");
}
